In [7]:
import pandas as pd #importando a biblioteca pandas

In [8]:
dados = {'empresa': ['empresa1', 'empresa2', 'empresa3', 'empresa4', 'empresa5'], #criando uma base de dados ficticia 
        'quantidade_funcionarios': ['1000', '10000', '100', '50', '500'],
        'ramo': ['calçados', 'maquiagem', 'esporte', 'jogos', 'fast food'],
        'tempo_de_mercado': ['45 anos', '50 anos', '20 anos', '25 anos', '30 anos'],
        'faturamento_anual': ['5000000', '2500000', '3000000', '1000000', '8000000'],
        'avaliacao_funcionarios': ['8.0', '9.0', '9.8', '7.0', '7.5'],
        'lucro_anual': ['250000', '330000', '480000', '966000', '800']}

In [9]:
df = pd.DataFrame(dados) #cria um objeto pandas DataFrame a partir do dicionário "dados"

In [10]:
df.head() #visualiza as 5 primeiras linha do dataframe

,empresa,quantidade_funcionarios,ramo,tempo_de_mercado,faturamento_anual,avaliacao_funcionarios,lucro_anual
0,empresa1,1000,calçados,45 anos,5000000,8.0,250000
1,empresa2,10000,maquiagem,50 anos,2500000,9.0,330000
2,empresa3,100,esporte,20 anos,3000000,9.8,480000
3,empresa4,50,jogos,25 anos,1000000,7.0,966000
4,empresa5,500,fast food,30 anos,8000000,7.5,800

In [11]:
df['quantidade_funcionarios'] = df['quantidade_funcionarios'].astype(int) #converte coluna quantidade_funcionarios de string para int

empresas_mais_500_funcionarios = df[df['quantidade_funcionarios'] >= 500] #cria um data frame apenas com as empresas com mais de 500 funcionários

display(empresas_mais_500_funcionarios) #exibe o dataframe empresas_mais_500_funcionarios

,empresa,quantidade_funcionarios,ramo,tempo_de_mercado,faturamento_anual,avaliacao_funcionarios,lucro_anual
0,empresa1,1000,calçados,45 anos,5000000,8.0,250000
1,empresa2,10000,maquiagem,50 anos,2500000,9.0,330000
4,empresa5,500,fast food,30 anos,8000000,7.5,800

In [12]:
df['faturamento_anual'] = df['faturamento_anual'].astype(int) #converte a coluna faturamento_anual de string para int

df['lucro_anual'] = df['lucro_anual'].astype(int) #converte a coluna lucro anual de string para int

df['relacao_faturamento_lucro'] = df['faturamento_anual'] / df['lucro_anual'] #cria um data frame relacao_faturamento_lucro que contem o resultado da divisão da coluna faturamento_anual pela coluna lucro_anual

empresas_relacao_maior_que_10 = df[df['relacao_faturamento_lucro'] > 10] #cria um dataframe com as empresas que a relaçao entre faturamento e lucro são maior que 10
         
display(empresas_relacao_maior_que_10) #exibe o dataframe empresas_relacao_maior_que_10

,empresa,quantidade_funcionarios,ramo,tempo_de_mercado,faturamento_anual,avaliacao_funcionarios,lucro_anual,relacao_faturamento_lucro
0,empresa1,1000,calçados,45 anos,5000000,8.0,250000,20.0
4,empresa5,500,fast food,30 anos,8000000,7.5,800,10000.0

In [13]:
df['avaliacao_funcionarios'] = df['avaliacao_funcionarios'].astype(float) #converte o tipo de dado da coluna para float

media_avaliacao = df['avaliacao_funcionarios'].mean() #calcula a media aritmetica dos valores da coluna

print("A média de avaliação de todas as empresas é: ", media_avaliacao) #exibe a mensagem com a media de avaliacao dos funcionarios de todas as empresas

A média de avaliação de todas as empresas é:  8.26

In [14]:
empresas_lucro_maior_500k = [] #cria uma lista vazia de empresas com lucro maior que 500k

for i in range(len(dados['empresa'])): #cria um loop for para percorrer os dados das empresas e adicionar as empresas com lucro anual superior a 500k na lista
    lucro_anual = int(dados['lucro_anual'][i])
    if lucro_anual > 500000:
       empresas_lucro_maior_500k.append(dados['empresa'][i])
        
quantidade_empresas_lucro_maior_500k = len(empresas_lucro_maior_500k) #armazena o número de empresas com lucro anual maior que 500k

print("Quantidade de empresas com lucro anual superior a R$ 500.000,00: ", quantidade_empresas_lucro_maior_500k) #exibe a quantidade de empresas com lucro anual maior que 500k

Quantidade de empresas com lucro anual superior a R$ 500.000,00:  1

In [16]:
empresas_fast_food = [] #cria uma lista vazia de empresas do ramo de fast food

for empresa in dados['empresa']: #cria uma lista de empresas_fast_food que percorre todas as empresas e selecionna apenas as do ramo de fast food
    index = dados['empresa'].index(empresa)
    if dados['ramo'][index] == 'fast food':
        empresas_fast_food.append(empresa)
        
print("Empresas no ramo de Fast Food: ", empresas_fast_food) #exibe as empresas que estão no ramo de fast food

Empresas no ramo de Fast Food:  ['empresa5']